.our {
    max-width: 320px;
    margin: 0 auto;
}

.title {

    background-color: aqua;
    padding: 10px;
    text-align: center;

}

.title-accent {
    color: red;
}




.btn {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 700;
    padding: 15px;
    background-color: #f6abd0;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    transition: box-shadow 0.3s ease;


}

.btn:hover {
    box-shadow: 3px 4px 8px 0px rgba(0, 0, 0, 0.78);

    background-color: #FF65BC;
}

.wrapper {
    display: flex;
    gap: 20px;
    justify-content: center;
}

img {
    max-width: 320px;
    display: block;
    margin: 0 auto;
}

.text-sms {

    text-align: center;
    font-weight: 700;
    margin: 30px 0px;
}

.ishidden {
    display: none;

}