.our {
    max-width: 400px;
}

.title {
    /* border: solid 1px black; */
    display: inline-block;
    background-color: aqua;
    padding: 10px;
    max-width: 400px;
    text-align: center;

}

.title-accent {
    color: red;
}




.btn {
    font-size: 20px;
    font-weight: 700;
    padding: 15px;
    background-color: #f6abd0;
    border-radius: 20px;
    border: none;
    cursor: pointer;

}

.btn:hover {
    box-shadow: 10px 16px 20px -10px rgba(0, 0, 0, 0.61);
    -webkit-box-shadow: 10px 16px 20px -10px rgba(0, 0, 0, 0.61);
    -moz-box-shadow: 10px 16px 20px -10px rgba(0, 0, 0, 0.61);
    background-color: #FF65BC;
}

.wrapper {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.text-sms {

    text-align: center;
    font-weight: 700;
    margin: 30px 0px;
}

.ishidden {
    display: none;

}